.cartouche{	-moz-border-radius: 10px;	margin: 0.3em;	padding: 0.7em 0.3em 0.7em;	border: 1px solid #6188B8;	width: 20%;	float: left;}
.cartouche ul{	margin-top: 0px;	margin-bottom: 0px;}
.cartouche li{	margin-left: -17px;	margin-top: 4px;	list-style-position: outside;}
.cartouche a{	text-decoration: none;}
.cartouche a.modif{	text-decoration: underline;	font-size: 80%;	color: #B364B3; visibility:hidden;}
.modif{ visibility:hidden;}
.titre_actu{	font-size: 140%;	margin-top: 5px;	margin-bottom: 0px;	margin-left: -5px; text-align:center; margin-bottom:10px;}
.date_actu{	font-size: 0.7em;}
