/*************Design général de la page ***************/
#wraper {}
#wraperinner {	position: relative;	text-align: left;}
#maininner {position: relative;	width: 100%;}
#left { visibility:hidden;	width:0px;	float: left;}
#content { width: 575px;	float: left;}
#right { visibility:hidden;	float: left;	width:0px;	margin-top: 10px;}
.clear{	clear: both;}


/************* Balises HTML modifiées ******************/
HTML, BODY {	font-family: Arial, Helvetica, sans-serif;	font-size: 90%;}
DIV {	margin: 0;	padding: 0;}
h2{	font-size: 110%;	font-weight: bold;}
a {	color: #B364B3;}
hr{	margin-top: 10px;	margin-bottom: 20px;	height: 1px;}


/**************** Class et id automatiquement créés par SPIP ******************/
.spip_logos{	margin-right: 30px;	margin-left: 30px;}
.spip{	margin-top: 3px;	margin-bottom: 7px;}
.recherche{	margin: 0.3em;	padding: 0em 0.3em 0.7em;	width: 98%;}
.spip_barre img{	border: 1px solid #CCCCCC;}
.spip_barre img:hover{	border: 1px solid #666666; }
.forml{	margin-left: 15px;}
.spip_barre{	margin-left: 15px;}
.barre{	font-size: 80%;}
.previsu{	margin-top: 15px;	margin-bottom: 20px;	padding-left: 10px;	padding-bottom: 10px;}

.bouton{	margin-top: 15px;	margin-left: 30%;}
.haut{	text-align: right;	margin-top: 3px;	margin-bottom: -5px;}
.spip_surligne { background: #FF6; }

#menuhinner .spip_surligne { background: #6188B8; }
#menu  .spip_surligne { background: #6188B8; }
#menu li .spip_surligne { background: #FFFFFF; }

.chemin {	font-size: 90%;		margin-bottom: 15px; 	color: #999999; margin-top: 5px;}
.chemin a{	color: #999999;	text-decoration: none;}

.titre_cart{	color:#6188B8;	font-weight: bold;	margin-bottom: 5px;	margin-top: 1px;	margin-left: 3px;}
.titre_cart_site{	color:#B36464;	font-weight: bold;	margin-bottom: 5px;	margin-top: 1px;	margin-left: 3px;}
.titre_cart_art{	color:#64B378;	font-weight: bold;	margin-bottom: 5px;	margin-top: 1px;	margin-left: 3px;}
.titre_cart_rub{	color:#999999;	font-weight: bold;	margin-bottom: 5px;	margin-top: 1px;	margin-left: 3px;}

.spacer {	clear: both;}
.vos_infos { visibility:hidden;}



/************** Définitions des styles des contenus liés aux forums **************/
.forum_sup {	font-size: 80%;	text-align: right;}
.forum_sup a:hover{	text-decoration: underline overline;}
.forum_auteur {	text-align: left;	font-size: 90%;}
.forum_ref_web {	text-align: right;	font-size: 90%;	margin-top: 3px;}
.forum_titre {	text-align: left;	margin-right: 5px;	letter-spacing: 1pt;	margin-top: 3px;	margin-bottom: 3px;	font-weight: bold;}
.forum_texte {	text-align: left;	margin-left: 7px;	font-size: 90%;	line-height: 1.3;	margin-top: 7px;}
.forum_reponse {	background-color: #EEEEEE;	border: 1px dashed #6188B8;	margin-right: 5px;	margin-top: 5px;	margin-bottom: 5px;	margin-left: 15px;	padding: 5px;	text-align: center;}
.forum_repondre {	text-align: center;	font-size: 80%;	margin-top: 2px;}
.forum {	background-color: #EEEEEE;	border: 1px dashed #6188B8;	margin: 5px;	padding: 5px;}
#complements{	border-top-width: 1px;	border-top-style:
 outset;	border-top-color: #000000;	font-weight: bold;
 	text-align: center;	margin-top: 10px;	padding-top: 5px;	letter-spacing: 0.2em;	color: #6188B8;}
.puce{	margin-left: 1em;	margin-top: 0.3em;	margin-bottom: 0.3em;}

form {	margin: 0px;	padding: 0px;}
