
.resultat{	-moz-border-radius: 10px;	margin: 0.3em;	padding: 0em 0.3em 0.7em;	border: 1px solid #6188B8;	width: 98%;	float: left;}
.resultat_site{	-moz-border-radius: 10px;	margin: 0.3em;	padding: 0em 0.3em 0.7em;	border: 1px solid #B36464;	width: 98%;	float: left;}
.resultat_art{	-moz-border-radius: 10px;	margin: 0.3em;	padding: 0em 0.3em 0.7em;	border: 1px solid #64B378;	width: 98%;	float: left;}
.resultat_rub{	-moz-border-radius: 10px;	margin: 0.3em;	padding: 0em 0.3em 0.7em;	border: 1px solid #999999;	width: 98%;	float: left;}

.liste {	width: 29%;	float: left;}
.liste ul{	margin-bottom: 0px; 	list-style-type: disc;}
.liste li{	margin-top: 4px;	margin-left: 2px;}
.liste a{	color: #000000;	text-decoration: none;}
.liste a:hover{	color: #000000;	text-decoration:underline;}

.titre_actu{	font-size: 140%;	margin-top: 5px;	margin-bottom: 10px;	margin-left: -5px;	text-align:center;	margin-bottom:10px;	clear: both;}