<plugin>
    <nom>
    <multi>
    [fr]cfg: moteur de configuration
    [de]cfg: Konfigurationsmotor
    </multi>
    </nom>
    <auteur>bertrand Gugger [->http://toggg.com/], Matthieu Marcillaud
_ &#169; 2008 - <multi>[fr]Distribu&#233; sous licence[de]Vertrieb unter Lizenz</multi> GNU/LGPL
    </auteur>
    <version>
    1.7.5
    </version>
    <etat>
    stable
    </etat>
    <description>
    <multi>
[fr]Ce plugin permet de g&#233;rer tr&#232;s simplement des interfaces de configuration pour diff&#233;rents modules.

Il est utilis&#233; par de nombreux plugins, mais il peut aussi avoir d'autres usages comme le param&#233;trage de squelettes.
Les formulaires CFG peuvent avoir besoin de certaines librairies. Rendez-vous sur la page [?exec=cfg_install_libs->.?exec=cfg_install_libs] 
pour les t&eacute;l&eacute;charger.
[de]Dieses Plugin erm&#246;glicht es, in sehr einfacher Weise die Konfigurationsschnittstellen verschiedener Module zu verwalten.

Es wird von vielen Plugins verwendet, kann aber auch anderen Nutzen finden wie die Parametereinstellung von Skeletten.
    </multi>
    </description>
    <lien>
    [<multi>[fr]Documentation[de]Dokumentation</multi>->http://www.spip-contrib.net/?rubrique575]
    </lien>
    <prefix>
    cfg
    </prefix>
    <icon>
    cfg.png
    </icon>
    <chemin dir='' />
    <options>
    cfg_options.php
    </options>

    <pipeline>
        <nom>ajouter_boutons</nom>
        <action>ajouter_boutons</action>
        <inclure>cfg_pipeline.php</inclure>
    </pipeline>
    <pipeline>
        <nom>insert_head</nom>
        <action>insert_head</action>
        <inclure>cfg_pipeline.php</inclure>
    </pipeline>
    <pipeline>
        <nom>header_prive</nom>
        <action>header_prive</action>
        <inclure>cfg_pipeline.php</inclure>
    </pipeline>
</plugin>
